@font-face {
  font-family: 'AnekMalayalam-Light';
  font-weight: 300;
  font-style: normal;
  src: local('AnekMalayalam-Light'),
    url('../fonts/AnekMalayalam-Light.woff2') format('woff2'),
    url('../fonts/AnekMalayalam-Light.woff') format('woff');
  font-display: swap;
}
