<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <a class="logo" href="index.html">
          <img class="header__logo" src="images/logo2.png" alt="Логотип" />
        </a>
        <nav class="menu">
          <button class="menu__btn" id="menu__btn"></button>
          <ul class="menu__list">
            <li class="menu__list-li">
              <a class="menu__list-a" href="index.html"> Главная </a>
            </li>
            <li class="menu__list-li">
              <a class="menu__list-a" href="programs.html"> Программы</a>
            </li>
            <li class="menu__list-li">
              <a class="menu__list-a" href="photos.html"> Галерея </a>
            </li>
          </ul>
        </nav>
        <a class="header__tel" href="tel:+79591429878" rel="noopener noreferrer">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
            <path
              d="M3.75 6.875c0 10.7 8.676 19.375 19.375 19.375.484 0 .96-.02 1.434-.05.546-.044.816-.063 1.066-.204.203-.117.398-.328.5-.543.125-.254.125-.555.125-1.156v-3.52c0-.507 0-.757-.082-.976a1.287 1.287 0 00-.348-.492c-.175-.153-.414-.239-.886-.414l-4.008-1.458c-.551-.199-.828-.3-1.09-.28-.23.011-.453.093-.64.226-.216.152-.368.402-.669.906L17.5 20a15.126 15.126 0 01-7.5-7.5l1.71-1.027c.505-.301.755-.453.907-.668.133-.188.215-.41.227-.64.02-.263-.082-.54-.281-1.09l-1.458-4.009c-.175-.472-.261-.71-.414-.886a1.287 1.287 0 00-.492-.348c-.219-.082-.469-.082-.976-.082h-3.52c-.601 0-.902 0-1.156.125a1.316 1.316 0 00-.543.5c-.14.25-.16.52-.203 1.066-.031.473-.051.95-.051 1.434zm0 0"
              fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <span class="header__tel-span">+7&nbsp;(959)&nbsp;142-98-78</span>
        </a>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-inner">
        <div class="header__bottom-box">
          <h1 class="header__bottom-title">Центр иностранных языков YES</h1>
          <h2 class="header__bottom-subtitle">
            Мир без границ – это мир возможностей. Мы открываем двери в этот мир. Ваш успех – наша главная цель. <br/> Начните свой путь к успеху прямо сейчас!
          </h2>
        </div>
        <div
          class="header__animation-container"
          id="svgAnimationContainer"
        ></div>
      </div>
    </div>
  </div>
</header>