<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <a class="logo" href="index.html">
          <img class="header__logo" src="images/logo.jpg" alt="Логотип" />
        </a>
        <nav class="menu">
          <button class="menu__btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="18"
              viewBox="0 0 30 18"
              fill="none"
            >
              <path d="M0 0H30V2H0V0Z" fill="black"></path>
              <path d="M0 8H30V10H0V8Z" fill="black"></path>
              <rect y="16" width="30" height="2" fill="black"></rect>
            </svg>
          </button>
          <ul class="menu__list">
            <li class="menu__list-li">
              <a class="menu__list-a" href="index.html"> Главная </a>
            </li>
            <!-- <li class="menu__list-li">
              <a class="menu__list-a" href="programs.html"> Программы </a>
            </li> -->
            <!-- <li class="menu__list-li">
              <a class="menu__list-a" href="teachers.html"> Преподаватели </a>
            </li> -->
            <li class="menu__list-li">
              <a class="menu__list-a" href="services.html"> Услуги </a>
            </li>
            <li class="menu__list-li">
              <a class="menu__list-a" href="photos.html"> Галерея </a>
            </li>
          </ul>
        </nav>
        <a
          class="header__tel"
          href="tel:+79591429878"
          rel="noopener noreferrer"
        >
        <span class="header__tel-span">+7&nbsp;(959)&nbsp;142-98-78</span>
      </a>
      </div>
    </div>
  </div>
</header>
